/* CSS BY ABBY NAPIER*/

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


  /* CSS REST */
  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --teal:#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink:#D9526F;
    --dk-gray:#1E1E1E; 
   --white:#ffffff; 
}
/* GLOBAL STYLES (mobile first/small) */

body{
    font-family: inter;
    background-color: var(--lavender);
    max-width: 450px;
    margin: auto;
}
h1{
    font-family: kavoon;
    font-size: 3em;
    font-weight: bold;
}
h2{
    font-family: kavoon;
    font-size: 2em;
    margin: 1rem 0;
    font-weight: bold;
}
h2 nav{
    font-size: 1.5em;
    font-weight: bold;
}
h3{
    font-size: 1.5em;
    margin: 1rem 0;
    font-weight: bold;
}
h4{
    font-size: 1.15em;
    margin: 1rem 0;
    font-weight: bold;
}
header h1{
    text-align: center;
    color: var(--white);
    margin-bottom: .5rem;
}
header{
    background-color: var(--purple);
}
header p{
    text-align: center;
    color: var(--white);
}
header ul{
    list-style-type: none;
}
header a:link{    
    color: var(--purple); 
    text-decoration: none; 
    }
header a:visited {
    color: var(--purple); 
    text-decoration: none; 
}
header a:hover{
    color: var(--purple); 
    text-decoration: none; 
} 
header a:active{
    color: var(--purple); 
    text-decoration: none; 
}  
#menu{
    background-color: var(--yellow);
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}
#menu li{
    background: var(--white);
    color: var(--purple);
    margin: .5rem auto;
    padding: 1rem;
    max-width: 20rem;
}
#services h2, #chooseUs h2, #pricing h2, #firstStep h2{
    color: var(--white);
}
#services h3, #chooseUs h3, #pricing h3, #firstStep h3{
    color: var(--yellow);
}
#services h4, #chooseUs h4, #pricing h4, #firstStep h4{
    color: var(--purple);
}
main{
    background-color: var(--purple);
}
#services{
    padding: 1rem;
}

#personal {
    background-color: var(--white);
    max-width: 350px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 25px;
}

#career {
    background-color: var(--white);
    max-width: 350px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 25px;
}
#relationship {
    background-color: var(--white);
    max-width: 350px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 25px;
}
#community{
        background-color: var(--white);
        max-width: 350px;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 25px;
}
#group{
        background-color: var(--white);
        max-width: 350px;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 25px;
}
#interactive{
    background-color: var(--white);
    max-width: 350px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 25px;
}
#online{
    background-color: var(--white);
    max-width: 350px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 25px;
}

#chooseUs{
    background-color: var(--pink);
    padding: 1rem;
}
.chooseUsGrid{
    display: grid;
    column-gap: .5rem;
    row-gap: .5rem;
    text-align: center;
    margin: 1rem 5px;
}
.item1{
    background-color: var(--teal);
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    padding: 2rem 1rem;
    border-radius: 25px;
}
.item2{
    background-color: var(--lavender);
    grid-row: 1/ span 1;
    grid-column: 2/ span 1;
    padding: 2rem 1rem;
    border-radius: 25px;
}
.item3{
    background-color: var(--yellow);
    grid-row: 2/ span 1;
    grid-column: 1/ span 1;
    padding: 2rem 1rem;
    border-radius: 25px;
}
.item4{
    background-color: var(--white);
    grid-row: 2/ span 1;
    grid-column: 2/ span 1;
    padding: 2rem 1rem;
    border-radius: 25px;
}
#pricing h2, #pricing h3{
    margin-left: 25px;
}
#pricing{
    margin-top: 1rem;
}
#pricing table, th, td{
    margin: auto;
    border: 2px solid var(--yellow);
    text-align: center;
    padding: 20px;
}
#pricing th{
    background-color: var(--yellow);

}
#pricing td{
    background-color: var(--white);
   
}
#firstStep{
    background-color: var(--pink);
    padding: 1rem;
    margin-top: 1rem;
    color: var(--white);
    text-align: center;
}
  

.schedule a:link, .schedule a:visited,.schedule a:hover, .schedule a:active{    
    color: black; 
    text-decoration: none;
}

.schedule{
        background: var(--white);
        width: 20rem;
        padding: 1rem;
        margin: auto;
        margin-top: 1rem;
        border-radius: 20px;
        box-shadow:  10px 5px 5px black;
}

footer {
     color: var(--white);
     background-color: var(--purple);
     padding: 5rem;
 }
footer a:link, footer a:visited,footer a:hover, footer a:active{
        color: var(--white); 
        text-decoration: none;
}

.footerText{
    display: grid;
    column-gap: .5rem;
    row-gap: .5rem;
    text-align: center;
    margin: auto;
}
.text1{
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
}
.text2{
    grid-row: 1/span 1;
    grid-column: 2/ span 1;
}